.footer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    background: {
        color: $color-bg-footer;
    }
    color: $color-font-main;


}

.footer .collapse:not(.show) {
    display: inline-block;
}

#menu-menu-footer {

    flex-flow: column;
    height: 100%;
    justify-content: center;
    @media screen and (min-width: 992px) {
        flex-flow: row nowrap;
        margin: 0;
        justify-content: flex-end;
        align-content: flex-end;
    }

    .menu__links__item a {
        font-weight: 500;
        color: #2595e9;
    }
}